#cp_petitions_dashboard_widget .postbox .inside,
#cp_petitions_dashboard_widget .postbox .inside {
  margin: 0;
  padding: 0;
}

#cp_petitions_dashboard_widget .sub,
#cp_petitions_dashboard_widget .sub {
  background: #e7e7e7;
  padding: 10px 12px 6px;
}

/* Petitions list */
.cp_petitions {
  padding: 0;
  margin: 0;
}

.cp_petitions table {
  width: 100%;
  padding: 0;
  margin: 0.5rem 0 0 0;
  border-spacing: 0;
}

tbody tr:nth-child(even){
  background: #f5f5f5;
}

.cp_petitions .votes-count {
  font-size: 14px;
}
.cp_petitions .petition {
  text-align: left;
  font-weight: normal;
}

/* Link to the petitions website  */
.cp_petitions_link {
  margin: 1rem 0;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #e7e7e7;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}
