#cp_petitions_dashboard_widget .postbox .inside,
#cp_petitions_dashboard_widget .postbox .inside {
  margin: 0;
  padding: 0;
}

#cp_petitions_dashboard_widget .sub,
#cp_petitions_dashboard_widget .sub {
  background: #f5f5f5;
  padding: 10px 12px 6px;
}

/* Link to the petitions website  */
.cp_petitions_link {
  margin: 1rem 0;
}

/* Style the tab */
#cp_petitions_dashboard_widget .tab {
  overflow: hidden;
  background-color: transparent;
}

/* Style the buttons inside the tab */
#cp_petitions_dashboard_widget .tab button {
  background-color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
#cp_petitions_dashboard_widget .tab button:hover {
  background-color: #e8e8e8;
}

/* Create an active/current tablink class */
#cp_petitions_dashboard_widget .tab button.active {
  background-color: #f5f5f5;
}

/* Style the tab content */
#cp_petitions_dashboard_widget .tabcontent {
  display: none;
  padding: 6px 0px;
  background-color: #f5f5f5;
}

/* Petitions list */
table.cp_petitions {
  width: 100%;
  padding: 0;
  border-spacing: 0;
}

table.cp_petitions tbody tr:nth-child(odd) {
  background: #fff;
}

.cp_petitions .votes-count {
  font-size: 14px;
}
.cp_petitions .petition {
  text-align: left;
  font-weight: normal;
}

table.cp_petitions thead {
  font-weight: 700;
}

table.cp_petitions td {
  padding: 8px;
}

table.cp_petitions td:nth-child(1) {
  text-align: center;
}

table.cp_petitions span.planned {
  display: inline;
  background: #89288f; /* 61ce70 is the classic green but a pain to read */
  color: #fff;
  padding: 2px 4px;
}

table.cp_petitions span.started {
  display: inline;
  background: #1da21d;
  color: #fff;
  padding: 2px 4px;
}
